
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  }

    /* Style for the header */
    header {
      border-top: 10px solid black; /* Black border on the top, thicker */
      height: 4px; /* Adjust the height of the line as needed to match the border thickness */
    }

    .HOME {
      position: fixed;
      top: 5px; /* Adjust as needed */
      right: 8px; /* Adjust as needed */
      font-weight: 500;
      padding: 4%;
      text-decoration: none;
      color: black;
      font-family: "Josefin Sans", sans-serif;

    }

    .ALL {
      position: fixed;
      top: 5px; /* Adjust as needed */
      left: 8px; /* Adjust as needed */
      font-weight: 500;
      padding: 4%;
      text-decoration: none;
      color: black;
      font-family: "Josefin Sans", sans-serif;
    }


    body {
      margin: 0;
      padding: 0;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 600;
    }
    
    .container {
      display: flex;
      padding: 0;
      align-items: center;
      justify-content: space-between;
    }
    
    .image {
      flex: 1;
      padding-top: 10%;
    }
    
    .description {
      flex: 1;
      margin-top: 5%;
      margin-left: 10%;
      padding: 0 20px;
      text-align: left;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;

    }
    
    img {
      max-width: 80%;
      height: auto;
      display: block;
      margin: 0 auto;
    }


